/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Poppins', sans-serif;
	background-color: #fafafa;
}
// colors
$strava-color: #fc5200;
$text-gray: #404040;
$light-gray: #e6e6e6;
$light-green: #4bb286;
$blue-link: #0096c7;
$box-shadow: 0px 4px 204px rgba(0, 0, 0, 0.05); // buttons
a.btn {
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 80px;
	display: inline-block;
}
a.btn-primary {
	background-color: $light-green;
	color: white;
}
a.btn-orange {
	background-color: $strava-color;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 80px;
	display: inline-block;
}
.icon {
	display: inline;
}

nav {
	ul li {
		font-size: 16px;
		margin-top: 13px;
	}
	.nav-logo {
		margin-top: 12px;
		font-size: 24px;
		font-weight: 600;
		letter-spacing: 0.1px;
		svg {
			display: inline-block;
		}
	}
	.cta-primary {
		background-color: #4bb286;
		color: white;
		padding: 8px 16px;
		display: inline-block;
		font-size: 15px;
		border-radius: 80px;
		margin-top: 5px;
	}
}
/* footer */
.footer-logo {
	display: inline-block;
	margin-top: 17px;
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 0.1px;
}
.footer-logo {
	svg {
		display: inline-block;
	}
}

.hero-container {
	position: relative;
	padding: 25vh 10%;
	min-height: 100vh;
	display: block;
	// z-index: -1;
	width: 100vw;
	text-align: center;
	transform-style: inherit;
	h1 {
		text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
	}
	z-index: 0;
}
.hero {
	background: url('https://i.postimg.cc/jdXhY70t/Group-21.png') no-repeat center;
	background-size: cover;
	background-position: 0% 55%;
	height: 80vh;
	h1 {
		font-size: 2rem;
		display: inline-block;
		color: white;
	}
	.hero-container {
		display: flex;
		justify-content: space-between;
	}
}
// profile
.profile-details {
	.profile-info {
		img {
			width: 140px;
			height: 140px;
			border-radius: 100%;
			object-fit: cover;
			margin-bottom: 15px;
		}
		h3 {
			font-size: 32px;
			font-weight: 400;
			line-height: 100%;
		}
		h4 {
			font-size: 23px;
			color: $text-gray;
			margin-bottom: 4px;
		}
		p {
			max-width: 380px;
			color: $text-gray;
			margin-bottom: 30px;
			a {
				color: $blue-link;
			}
		}
	}
	// card
	.level-card {
		margin-top: 140px;
		background-color: #fff;
		padding: 15px 30px;
		border-radius: 5px;
		box-shadow: $box-shadow;
		border-radius: 5px;
		h3 {
			font-size: 32px;
			margin-top: 38px;
			line-height: 30%;
		}
		h2 {
			font-size: 64px;
			font-weight: 700;
		}
	}
}
// stats

.achievement-club {
	h3 {
		font-size: 26px;
		margin-bottom: 20px;
		font-weight: 500;
	}
	ul {
		text-align: center;

		li {
			img {
				width: 60px;
				height: 60px;
				margin: 0 auto;
				margin-bottom: 5px;
			}
			h6 {
				color: $text-gray;
				font-size: 15px;
			}
			.xp {
				font-weight: 500;
			}
		}
	}
	.achievements {
	}
	.club {
	}
}
.pending {
	ul {
		text-align: center;

		li {
			img {
				width: 60px;
				height: 60px;
				margin: 0 auto;
				margin-bottom: 5px;
			}
			h6 {
				color: $text-gray;
				font-size: 15px;
			}
			.xp {
				font-weight: 500;
			}
		}
	}
	h3 {
		font-size: 25px;
		margin-top: 38px;
		margin-bottom: 20px;
		font-weight: 500;
		color: $text-gray;
	}
	.progress {
		border-radius: 800px;
		background-color: $light-gray;
		div {
			border-radius: 800px;
			background: $light-green;
		}
	}
}

//profile rides
.ride-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0 12px;
}
.profile-rides {
	// width: 500px;
	// margin: 0 auto;

	h1 {
		font-size: 28px;
		font-weight: 500;
	}
	.ride-card {
		background-color: white;
		box-shadow: $box-shadow;
		border-radius: 5px;
		padding: 15px;
		margin-bottom: 12px;
		h4 {
			font-size: 14px;
			font-weight: 500;
		}
		.rider-name {
			font-weight: 600;
		}
		.timestamp,
		.level-reward {
			color: $text-gray;
		}

		.rider-info {
			img {
				width: 60px;
				height: 60px;
				object-fit: cover;
				border-radius: 800px;
			}
		}
		.ride-title-stats {
			h2 {
				font-size: 18px;
				font-weight: 600;
			}
			ul {
				li {
					border-right: 1.5px solid $light-gray;
					padding-right: 15px;
					h4 {
						color: $text-gray;
					}
					h3 {
						font-weight: 500;
					}
				}
			}
		}
		.map img {
			margin-top: 30px;
			height: 170px;
			width: 100%;
			object-fit: cover;
		}
	}
}
//Media queries 775px and below
@media only screen and (max-width: 775px) {
	.profile-details,
	.achievement-club {
		flex-direction: column;
	}
	.achievements {
		margin-bottom: 2rem;
	}
	.profile-info {
		margin-bottom: 2rem;
	}
	.level-card {
		margin-top: 0 !important;
		width: 300px !important;
		margin-bottom: 2rem;
	}
	.profile-rides {
		width: 100%;
	}
	.ride-grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		// gap: 0 12px;
	}
}
